canvas {
    background-color: black;
    /* background-image: url("../assets/img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    border: 5px solid black;
    border-radius: 40px;
    overflow: hidden;
    display: block;
}

body {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .gamescreen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/img/5_background/complete_background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 54px;
            margin-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    canvas {
        width: 99%;
    }
}

@media only screen and (max-height: 799px) {
    canvas {
        height: 90svh;
    }
}

/* #title {
    position: absolute;
    top: 0;
} */
