canvas {
	/* background-color: black; */
	background-image: url("../assets/img/9_intro_outro_screens/start/startscreen_1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 5px solid black;
	border-radius: 40px;
	overflow: hidden;
	display: block;
}

body {
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.gamescreen {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url("../assets/img/5_background/complete_background.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		h1 {
			font-size: clamp(2rem, calc(1.464rem + 2.679vw), 3.88rem);
			margin-bottom: 5px;
			color: rgb(212, 175, 55);
			text-shadow: 3px 5px 5px black;
		}
	}
}

.start-btn {
	width: 200px;
	height: 50px;
	position: absolute;
	bottom: auto;
	top: 25%;
	border-radius: 30px;
	border: 3px solid black;
	background-color: rgba(212, 175, 55, 1);
	color: black;
	font-size: clamp(1.25rem, calc(1.071rem + 0.893vw), 1.88rem);
	font-weight: bold;
}

.restart-btn {
	width: 150px;
	height: 60px;

	font-size: 30px;
	font-weight: bold;
	border: 3px solid black;
	border-radius: 30px;
	background-color: rgb(212, 175, 55);
}

.game-over {
	width: 60%;
	height: 50%;
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 20%;
	/* background-color: red; */
	gap: 16px;

	img {
		height: auto;
	}
}

.game-end {
	width: 70%;
	height: 80%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10%;
	/* background-color: red; */
	gap: 16px;

	img {
		width: 90%;
	}
}

.start-btn:hover {
	cursor: pointer;
}

.mobil-section {
	width: 100%;
	max-width: 1200px;
	height: 50px;

	display: flex;
	justify-content: space-between;

	.mobil-btn {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 8px;
		padding-top: 8px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 42px;
			background-color: rgb(212, 175, 55);
			border: 2px solid black;
			border-radius: 10px;
		}

		button:hover {
			cursor: pointer;
		}

		img {
			width: 25px;
			height: 30px;
			padding: 1px;
		}
	}
}

.d_none {
	display: none;
}

.d-flex {
	display: flex;
}

@media only screen and (max-width: 1200px) {
	canvas {
		width: 99%;
	}
}

@media only screen and (max-height: 800px) {
	canvas {
		height: 85svh;
	}
}

@media (hover: hover) {
	.mobil-section {
		display: None;
	}
}
